* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 70px;
  padding: 12px;
  margin: 0px;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
.separacion {
  height: 15px;
}
.first {
  background-color: #FFFF00;
  border: white 7px solid;
}

.second {
  background-color: #AFFF00;
  border: white 7px solid;
}

.third {
  background-color: #1EE2A6;
  border: white 7px solid;
}

.fourth {
  background-color: #01B6AD;
  border: white 7px solid;
}

.fifth {
  background-color: #9C42D1;
  border: white 7px solid;
}

.sixth {
  background-color: #D126A9;
  border: white 7px solid;
}

/*segundo ejercicio*/

.col-1-e2 {
  background-color: #F7EA00;
  border: white 7px solid;
  color: white;
  font-size: 72px;
  height: 100px;
  text-align: center;
  width: 100%;
}

.col-2-e2 {
  background-color: #34EAA9;
  border: white 7px solid;
  color: white;
  font-size: 72px;
  height: 500px;
  text-align: center;
  width: 75%;
}

.col-3-e2 {
  background-color: #E486EA;
  border: white 7px solid;
  color: white;
  font-size: 72px;
  height: 500px;
  text-align: center;
  width: 25%;
}


@media only screen and (max-width: 768px) {
  .col-1-e2 {
    height: 100px;
    width: 100%;
  }

  .col-2-e2 {
    height: 400px;
    width: 100%;
  }

  .col-3-e2 {
    height: 100px;
    width: 100%;
  }
}
