<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="../css/ejercicio5.css">


    <title>3. LOVE LOVE PANDA DESU</title>
  </head>
  <body>
      <div class="container">
        <h3>Crea una página web para amantes de los pandas.</h3>
        <h4>Versión 1: Crea tu página utilizando un grid system de tu elección (que no pertenezca a un framework como Bootstrap o Materialize).
        <br>Versión 2: Crea tu propia versión móvil de la página</h4>
        <hr>
      </div>

      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6">Love Love Panda Desu</div>
          </div>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">The best place for panda lovers</div>
            </div>
        </div>
        <div class="row">
          <div class="col-12 imagen1">
            <img src="../assets/images/uno.jpg" class= "imagen1" alt="Panda" width="100%" >
          </div>
        </div>
        <div class="row">
          <div class="col-12 color1"></div>
        </div>


      </div>

  </body>
</html>
