<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/main.css">


    <title>1. 2. DE DESKTOP A MOBILE</title>
  </head>
  <body>
      <hr>
      <div class="container">
        <h2>Clase práctica</h2>
        <div class="row">
          <div class="col-md-10">
            <ul class="nav nav-justified nav-pills">
              <li class="active"><a href="../s3-grid/views/ejercicio1.html">Ejercicio 1</a></li>
              <li class="active"><a href="../s3-grid/views/ejercicio2.html">Ejercicio 2</a></li>
              <li class="active"><a href="../s3-grid/views/ejercicio3.html">Ejercicio 3</a></li>
              <li class="active"><a href="../s3-grid/views/ejercicio4.html">Ejercicio 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <!--first line-->
        <div class="row">
          <div class="col-1-e2">
          </div>
        </div>
        <div class="separacion"></div>
        <div class="row">
          <div class="col-2-e2">
          </div>
          <div class="col-3-e2">
          </div>
        </div>
      </div>

  </body>
</html>
