<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="../css/main.css">


    <title>1. REPLICA LA SIGUIENTE GRID</title>
  </head>
  <body>
      <div class="container">
        <h3>Tomando como base la imagen de abajo, replíca la estructura de grid usando las diferentes columnas que nos da un framework.</h3>
        <hr>

        <!--first line-->
        <div class="row">
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
          <div class="col-1 first">
          </div>
        </div>
        <div class="separacion">

        </div>
        <!--second line-->
        <div class="row">
          <div class="col-2 second">
          </div>
          <div class="col-2 second">
          </div>
          <div class="col-2 second">
          </div>
          <div class="col-2 second">
          </div>
          <div class="col-2 second">
          </div>
          <div class="col-2 second">
          </div>
        </div>
        <div class="separacion"></div>


        <!--third line-->
        <div class="row">
          <div class="col-3 third">
          </div>
          <div class="col-3 third">
          </div>
          <div class="col-3 third">
          </div>
          <div class="col-3 third">
          </div>
        </div>
        <div class="separacion"></div>

        <!--fourth line-->
        <div class="row">
          <div class="col-4 fourth">
          </div>
          <div class="col-4 fourth">
          </div>
          <div class="col-4 fourth">
          </div>
        </div>
        <div class="separacion"></div>

        <!--fifth line-->
        <div class="row">
          <div class="col-6 fifth">
          </div>
          <div class="col-6 fifth">
          </div>
        </div>
        <div class="separacion"></div>

        <!--sixth line-->
        <div class="row">
          <div class="col-12 sixth">
          </div>
        </div>
        <div class="separacion"></div>
      </div>

  </body>
</html>
