<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="../css/main.css">


    <title>1. 2-a. DE DESKTOP A MOBILE</title>
  </head>
  <body>
      <div class="container">
        <h3>Ahora que ya sabes hacer una grid en desktop, vamos a hacer un reto más divertido. Te damos tres retos, en cada imagen vas a ver dos versiones: desktop (a la izquierda ) y mobile (a la derecha).</h3>
        <hr>
        <!--first line-->
        <div class="row">
          <div class="col-1-e2">A</div>
        </div>

        <div class="row">
          <div class="col-2-e2">B</div>
          <div class="col-3-e2">C</div>
        </div>
      </div>

  </body>
</html>
