<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="../css/ejercicio4.css">


    <title>1. 2-c. DE DESKTOP A MOBILE</title>
  </head>
  <body>
    <div class="container">
      <h3>Ahora que ya sabes hacer una grid en desktop, vamos a hacer un reto más divertido. Te damos tres retos, en cada imagen vas a ver dos versiones: desktop (a la izquierda ) y mobile (a la derecha).</h3>
      <hr>
        <!--first line-->
      <div class="row">
        <div class="col-1-e3">A</div>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="row-1">
            <div class="col-3-e3">B</div>
            <div class="col-4-e3">C</div>
            <div class="col-5-e3">D</div>
          </div>
          <div class="row">
            <div class="col-6-e3">E</div>
            <div class="col-7-e3">F</div>
            <div class="col-8-e3">G</div>
          </div>
        </div>
        <div class="col-2">
          <div class="col-9-e3">H</div>
        </div>
      </div>
      </div>
  </body>
</html>
